.container__map {
    height: 100%;
    width: 100vw;
    position: relative;
}

#map {
    height: 100%;
    width: 100%;
    z-index: 1;
}

#mapPrint {
    height: 300px;
    width: 360px;
    z-index: 1;
    border: 2px solid grey;
}

.leaflet-touch .leaflet-control-layers {
    background-color: black;
    border: 2px solid #e6e20b;
    color: white;
    padding: 4px;
    border-radius: 20px 2px;
    margin-right: 15px;
    color: white;
}

.leaflet-control-layers-expanded {
    background-color: black;
}

.hub__target {
    &--icon {
        display: none;
        position: absolute;
        z-index: 3;
        color: black;
        font-size: 50px;
    }

    &--tuto {
        display: none;
        position: absolute;
        z-index: 3;
        color: black;
        font-size: 15px;
        font-weight: bold;
    }

    &--btn {
        display: none;
        justify-content: space-between;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 270px;
        height: 50px;
        background-color: transparent;
        z-index: 3;
    }
}

.hub__informations {
    display: block;
    position: absolute;
    bottom: 8%;
    left: 20%;
    padding: 5px;
    z-index: 3;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 12px;
    border-radius: 5px 5px;
}

.icon--name {
    padding-left: 10px;
    font-weight: 800;
}

// STYLE BTN GROUP OM MAP
.btn-group-icon-map {
    position: relative;
    display: flex;
    flex-direction: column;
}

.btn-map {
    border: 2px solid black;
    background-color: black;
    position: relative;
    margin: 3px 0px;

    &--action {
        padding: 6px;
        border-radius: 10px 10px;
        width: 40px;
        margin-left: 7px;
    }

    &--location {
        padding: 15px;
        border-radius: 30px 30px;
    }

    &--marker {
        padding: 15px;
        margin-top: 10px;
        border-radius: 20px 2px;
        border: 2px solid #e6e20b;
    }

    &::after {
        /* extend the click to all the button */
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
    }
}

/* style button on map on click */
.click {
    border: 2px solid rgb(33, 150, 243);

    &::before {
        content: 'Click to save =>';
        font-family: 'Architects Daughter', cursive;
        position: absolute;
        top: 15px;
        left: -130px;
        height: 20px;
        width: 130px;
        color: rgb(46, 46, 46);
        font-size: 15px;
        font-weight: bold;
    }
}

.print__block {
    display: none;

    &--title {
        display: none;
    }
}
#btn-printer {
    display: none;
}

@media screen and (min-width: 990px) {
    .container__map {
        width: 99%;
    }
    #btn-printer{
        display: block;
    }
    .btn-map {
        &--action {
            &:hover {
                border: 2px solid rgb(33, 150, 243);
            }
        }

        &--location {
            &:hover {
                border: 2px solid rgb(33, 150, 243);
            }
        }

        &--marker {
            &:hover {
                border: 2px solid white;
            }
        }
    }
}

@media print {
    body {
        -webkit-print-color-adjust: exact !important;
    }

    #app {
        background-color: white !important;
    }

    .container__map {
        height: 100%;
        width: 100%;
    }

    #map {
        height: 400px !important;
        width: 740px !important;
        border: 2px solid grey;
        margin-top: 10px;
    }

    #mapPrint {
        position: absolute;
        top: 2%;
        left: 51%;
    }

    .leaflet-control-container {
        display: none;
    }

    .print__block {
        display: block !important;

        &--legend {
            width: 48%;
            border: 2px solid grey;
            color: grey !important;
            background-color: white !important;
            position: absolute;
            left: 12px;
            top: 52%;
        }

        &--title {
            margin-top: 30px;
            display: block;
            color: grey;
            font-size: 30px;
        }
    }
}